.navbar-aco { 
  background: #333333;
}

.navbar-aco .container-fluid {
  padding: 0
}

.logo-link {
  cursor: pointer;
  margin-right: 180px;
}

.logo-link img {
  height: 40px;
  width: auto;
}

.nav-separator {
  border-right: solid 1px #b2b2b2;
  margin: 10px;
}

.btn-nav {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: center;
  color: white;
  margin-right: 10px;
}

.link-nav {
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #676767 !important;
}

.link-nav.active {
  color: white !important;
}

.link-nav:hover {  
  color: #eaeaea !important;
  text-decoration: none;
}

.user-nav {
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-right: 5px;
}

.user-nav-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 10px;
}

.user-nav-wrap > img {
  font-size: 21px;
  line-height: 1;
  margin-right: 10px;
}

.user-nav-wrap > div {
  display: flex;
  flex-direction: column;
}

.wallet-address {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.35px;
  text-align: left;
  color: #ffffff;
}

.connected-label,
.invalid-network-label {
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.3px;
  text-align: left;
}

.connected-label {
  color: #38e22b;
}

.invalid-network-label {
  color: red;
}

.user-img-nav {
  height: 22px;
  width: 22px;
  margin-right: 6px;
  border-radius: 50%;
}

.user-nav-container,
.pair-nav-container {
  display: inline-block;
  min-width: max-content;
}

li.dropdown {
  padding: 0 10px;
  max-height: 45px;
}

.nav-item.dropdown.metamask {
  border-radius: 3px;
  background-color: #454545;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: rgba(152,151,151, 0) !important;
  color: #dedede !important;  
}

.dropdown-toggle::after {
  vertical-align: 0.5em !important;
}

.dropdown-menu {
  background-color: #454545 !important;
  right: 0;
  left: unset !important;
}

.dropdown-item {
  color: white !important;
}

.navbar-items .nav-item {
  min-width: 80px;
  text-align: center;
  position: relative;
  padding: 8px 14px;
}

.navbar-items .nav-item.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 4px;
  background-color: white;
  width: 100%;
  left: 0;
}

.nav-item.dropdown .dropdown-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}