.trade-menu {
    background-color: #1a1a1a;
    width: 300px;
    height: calc(100vh - 62px);
    overflow: auto;
}

.trade-menu-pair-balance-info {
    padding: 8px 15px;
}

.trade-menu-balance-title {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.45px;
    text-align: left;
    color: #ffffff;
    padding: 10px 0;
}

.pair-balance-item {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
}

.pair-balance-item {
    border-bottom: 1px solid #737373;
}

.pair-balance-item:last-child {
    border-bottom: none;
}

.trade-menu-pair-symbol,
.trade-menu-pair-balance {
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.trade-menu-pair-symbol {
    flex-grow: 1;
}

.trade-menu-pair-balance {
    text-align: right;
    flex-shrink: 0;
}

.trade-menu-pair-title {
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.43px;
    text-align: left;
    color: #ffffff;
    padding: 8px 15px;
}

.trade-menu .option-badge {
    margin: 0 15px 8px;
}

.option-expirations-wrapper {
    border-bottom: solid 1px #000000;
    margin-bottom: 15px;
}

.option-expirations-wrapper:last-child {
    border-bottom: none;
}

.option-expiration-item {
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.28px;
    text-align: left;
    color: #7f7f7f;
    display: flex;
    flex-direction: row;
    padding: 8px 15px;
    position: relative;
}

.option-expiration-item {
    cursor: pointer;
}

.option-expiration-item:hover,
.option-expiration-item.active {
    color: white;
    background-color: #242424;
}

.trade-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100% - 57px);
}

.trade-menu-content > div {
    width: 100%;
}

.trade-menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    padding-bottom: 14px;
    height: 57px;
}

.trade-menu-footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0px 15px;
}

.trade-menu-footer a {
    font-size: 10px;
    color: #e6e6e6;
    text-decoration: underline;
    transition: opacity 200ms linear;
    -webkit-transition: opacity 200ms linear;
    letter-spacing: 0.4px;
    cursor: pointer;
}

.trade-menu-footer a:hover {
    color: #e6e6e6;
    opacity: 0.75;
}

.trade-menu-footer-media {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    color: #676767;
    letter-spacing: 0.5px;
    line-height: 1;
    margin-top: 12px;
    padding: 0px 15px;
}

.trade-menu-footer-media > div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    line-height: 1;
}

.trade-menu-footer-media svg {
    font-size: 15px;
    margin-left: 17px;
}

.trade-menu .beta-alert {
    border: none;
    padding: 0;
    font-size: 12px;
    margin: 4px 0;
    justify-content: left;
}

.trade-menu .beta-alert svg {
    font-size: 16px;
    margin-right: 4px;
}