.exercise-action .input-column {
    margin:auto;
}

.exercise-action .input-label {
    height: unset;
    margin-bottom: 8px;
}

.highlight-background {
    background-color: #3b3b3b;
}

.summary-title {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 18px;;
}

.summary-table {
    width: 100%;
}

.summary-table .insufficient-funds-error td,
.summary-table .insufficient-funds-error td:last-child{
    background-color: #ff0000;
}

.summary-table td {
    border: solid 1px #4c4c4c;
    width: 50%;
    height: 38px;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.55px;
    text-align: center;
    color: #ffffff;
}

.summary-table td {
    background-color: #2b2b2b;
}

.summary-table td span {
    display: block;
    font-size: 10px;
}

.insufficient-funds-message {
    margin-top: 12px;
    margin-bottom: 4px;
    color: red;
    font-weight: 500;
}

.btn-group.pill-button-group {
    display: block;
    margin: auto;
    width: 260px;
    margin-bottom: 22px;
}

.pill-button {
    width: 50%;
    height: 35px;
    background-color: #2e2e2e;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #666666;
    border: none;
    cursor: pointer;
}

.pill-button:not(.active):hover {
    opacity: 0.7;
}

.pill-button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pill-button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pill-button.active {
    background-color: #ffffff;
    color: #333333;
    cursor: default !important;
}

.coin-symbol {
    border-radius: 2px;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.25px;
    color: #e6e6e6;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 4px;
    width: 34px;
}