.home {
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

#head {
    background-image: url('/images/head_background.jpg');
    background-repeat: repeat;
    background-color: #242424;
}

.navbar-home {
    background-color: transparent;
    padding-top: 25px !important;
}

.navbar-home a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 0;
}

.navbar-home a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-home a:not(:last-child) {
    margin-right: 70px;
}

.nav-btns {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.nav-btns > div:first-child {
    margin-right: 12px;
}

.home-logo > img {
    height: 61px;
    width: auto;
}

.home-btn {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.4px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.home-btn svg {
    height: 16px;
    width: auto;
    margin-right: 10px;
}

.home-btn.small svg {
    height: 10px;
    width: auto;
    margin-right: 6px;
}

.home-btn span {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.7px;
    margin-top: 1px;
}

.home-btn.small span {
    font-size: 8px;
    letter-spacing: 0.4px;
    margin-top: 0px;
}

.home-btn.small {
    width: 120px;
    height: 35px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.25px;
}

.home-btn.white, .home-btn.green:hover, .home-btn.black:hover {
    color: #ffffff;
    border-color: #ffffff;
}

.home-btn.black {
    color: #1b1b1b;
    border-color: #1b1b1b;
}

.home-btn.green, .home-btn.white:hover {
    color: #a8c708;
    border-color: #a8c708;
}

.home-btn.solid-green {
    color: #000000;
    border-color: #a8c708;
    background-color: #a8c708;
}

.home-btn.solid-white, .home-btn.solid-green:hover {
    color: #404040;
    border-color: #ffffff;
    background-color: #ffffff;
    box-shadow: 6.6px 12.4px 18px 0 rgba(28, 28, 28, 0.18);
}

.home-btn.solid-white:hover {
    color: #1b1b1b;
    border-color: #1b1b1b;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.head > h1 {
    font-size: 56px;
    font-weight: 900;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
}

.head > h2 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-align: center;
    color: #c0c0c0;
    margin-top: 38px;
    margin-bottom: 80px;
    max-width: 620px;
}

.head > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 150px;
}

#why-aco {
    background-color: #f5f5f5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 100%;
}

.why-aco {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.home-title {
    padding-top: 75px;
    font-size: 39px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #1a1a1a;
}

.why-aco > div {
    margin-top: 65px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.non-custodial {
    max-width: 178px;
}

.trustless-exercise {
    max-width: 208px;
}

.fully-collateralized {
    max-width: 217px;
}

.erc-20 {
    max-width: 200px;
}

.home-feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home-feature > span {
    height: 73px;
    margin-bottom: 7px;
}

.home-feature > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-feature > div > strong {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #595959;
}

.home-feature > div > div {
    font-size: 14px;
    letter-spacing: 0.35px;
    text-align: center;
    color: #656565;
}

.feature-division {
    width: 88px;
    height: 180px;
    background-color: transparent;
    position: relative;
    margin-right: 9px;
    overflow: hidden;
}

.feature-division::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px; 
    height: 200px;
    background-color: #b7b7b7; 
    -webkit-transform: rotate(-25.78deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    transform: rotate(-25.78deg);
}

#use-cases {
    background-color: #ffffff;
    width: 100%;
}

.use-cases {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.use-cases > h3 {
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #656565;
    max-width: 688px;
}

.use-cases > div {
    margin: 45px 0;
    width: 100%;
}

.home-case {
    background-color: transparent;
    width: 370px;
    height: 265px;
    padding: 0 !important;
}

.home-case > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 55px 112px;
    cursor: pointer;
    -webkit-clip-path:  polygon(0 0, 100% 0, 100% 100%, 8% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%, 0 85%);
}

.case-hovered {
    -webkit-filter: drop-shadow(13px 10px 12px rgba(28, 28, 28, 0.15));
    filter: drop-shadow(13px 10px 12px rgba(28, 28, 28, 0.15));
}

.case-hovered > div {
    background-color: #f5f5f5;
}

.home-case:hover > div > span {
    text-decoration: underline;
}

.home-case > div > strong {
    font-size: 22px;
    font-weight: 900;
    line-height: 1;
    color: #4d4d4d;
}

.home-case > div > div {
    margin-top: 6px;
    height: 85px;
    font-size: 13px;
    line-height: 1.6;
    color: #8c8c8c;
    display: flex;
    flex-direction: column;
    max-width: 325px;
}

.home-case > div > div > span {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #595959;
    margin-bottom: 6px;
}

.home-case > div > span {
    font-size: 14px;
    font-weight: 500;
    color: #a8c708;
    text-decoration: none;
    cursor: pointer;
}

.home-case > div > span > svg {
    margin-left: 10px;
    line-height: 1;
}

#join-community {
    background-color: #ffffff;
    width: 100%;
}

.join-community {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
}

.join-community > div {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    margin-top: 60px;
}

.home-discord {
    width: 50%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
}

.home-community {
    width: 50%;
    height: 310px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 7%;
}

.home-community > div {
    width: 350px;
    max-width: 93%;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.4px;
    text-align: left;
    color: #656565;
}

.home-community > span {
    width: 350px;
    max-width: 93%;
    font-weight: 500;
    color: #a8c708;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    margin-top: 8px;
}

.home-community > span > svg {
    line-height: 1;
    margin-left: 10px;
}

.home-community > span:hover {
    text-decoration: underline;
}

#start-trading {
    background-color: #a8c708;
    width: 100%;
}

.start-trading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 135px 0 70px 0;
}

.start-trading > h3 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0.9px;
    text-align: center;
    color: #1b1b1b;
}

.start-trading > h5 {
    font-size: 14px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #1a1a1a;
    margin-top: 10px;
}

.start-trading > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 35px 0 35px 0;
}

.start-trading > span {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: center;
    color: #040404;
}

.start-trading > span > a > img {
    margin-left: 5px;
    height: 18px;
    width: auto;
    cursor: pointer;
}

@media (max-width: 575.98px) { 
    .nav-btns {
        justify-content: center;
    }
    .head > h1 {
        font-size: 41px;
    }
    .head > h2 {
        font-size: 16px;
    }
    .head > div {
        flex-direction: column;
    }
    .home-case > div {
        padding: 25px 46px;
    }
    .home-discord {
        width: 100%;
    }
    .home-community {
        width: 100%;
        padding-left: 0;
    }
    .join-community > div {
        flex-direction: column;
    }
 }

#available-options {
    background-color: #242424;
    padding-bottom: 45px;
}

#available-options .trade-options-list {
    width: 100%;
    height: unset !important;
}

#available-options .home-title{
    color: #ffffff;
}

.pair-dropdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.expiration-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8px;
}

.expiration-option {
    border-radius: 2px;
    border: solid 1px #464646;
    padding: 4px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    color: #666666;
    margin: 4px;
    cursor: pointer;
}

.expiration-option:hover,
.expiration-option.active {
    border: solid 1px #ffffff;
    background-color: #ffffff;
    color: #333333;
}

.expiration-option.active {
    cursor: default;
}